# --- Python Essentials ---
# Virtual environments
.venv*/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/


# --- React / Node Essentials ---
# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds
/build
/dist
/out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# --- General / OS ---
# Environment variables (Sensitive Info!)
.env*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Custom logs and traces
*trace_*.json