# for fastapi
fastapi==0.135.3
uvicorn==0.44.0

# for langchain
langchain==1.2.15

# for LLMs
huggingface_hub==1.10.1

# for environment variables
pydantic_settings==2.13.1

# for streaming responses
sse-starlette==3.4.1